<mat-tab-group>
  <mat-tab label="PRÓXIMAS"> 

    <div fxLayout="row" fxLayoutAlign="start center" style="padding: 2%;">
      <div style="margin: 0.5%">
        <mat-card class="example-card"
        fxFlex="0 1 calc(33.3% - px)" 
        fxFlex.lt-sm="100%"> <!--(um card por tela) grid 100% en dispositivos pequenos, (dois cards por tela) 50% em dispositiveis médios e tres cards poer tela 33.3% em dispositivos maiores !-->
          <mat-card-header>

          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>

        </mat-card>
      </div>
    </div> </mat-tab>
  <mat-tab label="REALIZADAS">  </mat-tab>
</mat-tab-group>
